.clearfix {
	*zoom:1;
	&:before,&:after{
		display:table;
		content:'';
	}
	&:after{
		clear:both;
	}
}
.container{
	.clearfix;
	width: @content-width;
	padding: 0 @content-padding;
	margin: auto;
	@media @md {
		width: @content-width-md;
	}
	@media @sm {
		width: @content-width-sm;
	}
	@media @xs, @xxs {
		width: @content-width-xs;
	}
}