
html {
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	@media @xs, @xxs {
		display: block;
		position: static;
	}
}
body {
	display: table-cell;
	vertical-align: middle;
	@media @xs, @xxs {
		display: block;
	}
}
.header_logo {
	width: 43%;
	margin: 0;
	padding: 1.7% 2.5%;
	margin: 0 0 14%;
	background: #fff;
	text-align: center;
	@media @sm {
		width: 70%;
	}
	@media @xs, @xxs {
		width: 100%;
	}
	@media @xxs {
		width: auto;
		margin: 0 -20px;
	}
	img {
		display: block;
		margin: auto;
	}
}
.box_main {
	position: relative;
	padding: 0 0 4.7%;
	margin: 0 0 2.8%;
	background: url(../images/main/01.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	@media @xs, @xxs {
		background: none;
	}
	.content {
		.fh;
		position: relative;
		padding: 3.2% 65% 2% 5%;
		font-size: 1.4vw;
		line-height: 1.2;
		@media @md {
			font-size: 1.5vw;
		}
		@media @sm {
			padding-right: 53%;
			font-size: 2vw;
		}
		@media @xs, @xxs {
			font-size: 4.6vw;
			padding-right: 0;
		}
		@media @xxs {
			font-size: 7vw;
			padding: 5% 0;
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			top: 0;
			width: 3px;
			background: #fff;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			height: 5%;
			background: fade(#fff,15);
		}
		.title {
			.fh;
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 24%;
			font-weight: bold;
			font-size: 2vw;
			line-height: 1.1;
			padding: 1.5% 5% 2.5%;
			margin: 0;
			text-transform: uppercase;
			background: fade(#fff,15);
			@media @sm  {
				font-size: 2.8vw;
			}
			@media @xs {
				font-size: 6vw;
			}
			@media @xxs {
				position: relative;
				font-size: 10vw;
				padding: 6% 10%;
				margin: 0 0 10%;
				&:before {
					display: none;
				}
			}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				top: -50%;
				width: 3px;
				background: #fff;
			}
		}
		h1 {
			font-size: 2vw;
			line-height: 1.1;
			font-weight: 400;
			margin: 0 0 3.6%;
			@media @sm  {
				font-size: 2.8vw;
			}
			@media @xs {
				font-size: 7vw;
			}
			@media @xxs {
				font-size: 10vw;
			}
		}
	}
}
.countdown {
	.fh;
	margin: 0 0 10%;
	@media @xxs {
		margin: 0 0 20%;
	}
	.label {
		display: inline-block;
		vertical-align: middle;
		font-size: 2vw;
		padding: 1.5% 0 0;
		margin: 0 5% 0 0;
		@media @sm {
			font-size: 2.8vw;
		}
		@media @xs {
			font-size: 6vw;
		}
		@media @xxs {
			font-size: 10vw;
		}
	}
	.num {
		.border-radius(15%);
		position: relative;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		text-align: center;
		font-size: 2.7vw;
		padding: 3.4% 0 2.5%;
		width: 15.2%;
		overflow: visible;
		font-weight: bold;
		line-height: 1;
		margin: 0 4% 0 0;
		background: fade(#fff,20);
		@media @sm {
			font-size: 5vw;
			width: 18%;
		}
		@media @xs  {
			font-size: 7vw;
			width: 14%;
		}
		@media @xxs {
			font-size: 14vw;
			width: 22%;
		}
		&:before {
			.border-radius(15% 15% 0 0);
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 50%;
			background: fade(#fff,20);
		}
		mark {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			font-size: 1.4vw;
			line-height: 1;
			font-weight: 600;
			padding: 9% 0 0;
			text-transform: uppercase;
			@media @sm {
				font-size: 2vw;
			}
			@media @xs {
				font-size: 4vw;
			}
			@media @xxs {
				font-size: 8vw;
			}
		}
	}
}
#page-footer {
	.copy {
		padding: 1.5% 5% 1.5%;
		border-left: 3px solid #fff;
		font-size: 1vw;
		line-height: 1.2;
		@media @md {
			font-size: 1.1vw;
		}
		@media @sm {
			font-size: 1.6vw;
		}
		@media @xs {
			font-size: 3vw;
		}
		@media @xxs {
			font-size: 4.4vw;
			padding: 0;
			border: 0;
		}
		p {
			margin: 0;
		}
	}
}